FIREBASE_API_KEY=
SERVICE_ACCOUNT_PATH=./server/serviceAccountKey.json
SERVER_HOST_ANDROID=http://10.0.2.2:3000
SERVER_HOST_IOS=http://localhost:3000
SERVER_HOST_DEVICE=http://<IPaddress>:3000
#cp .env.example .env: duplicate this file and fill in the values
#to get your IP address run: ipconfig getifaddr en0
