FIREBASE_API_KEY=AIzaSy…         # enter your Firebase Web API key
SERVICE_ACCOUNT_PATH=./server/serviceAccountKey.json
SERVER_HOST_ANDROID=http://10.0.2.2:3000
SERVER_HOST_IOS=http://localhost:3000
SERVER_HOST_DEVICE=http://<YOUR_LAN_IP>:3000
#do cp .env.example .env